[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "tidyrgee"]
	path = tidyrgee
	url = https://github.com/r-tidy-remote-sensing/tidyrgee
